@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
}
li a {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color:#0088a9;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(42, 205, 66, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(42, 205, 66, 0.8);
}
.container{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    background: #ff0;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
    transition: step-end;
}
.container .box .testo{
    margin-top: 20px;
    text-align: center;
    color: white;
}